[Unit]
Description=Pi Bridge Service
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/pibridge
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target